<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>%d Host(s)</key>
	<dict>
		<key>NSStringLocalizedFormatKey</key>
		<string>%#@hosts@</string>
		<key>hosts</key>
		<dict>
			<key>NSStringFormatSpecTypeKey</key>
			<string>NSStringPluralRuleType</string>
			<key>NSStringFormatValueTypeKey</key>
			<string>d</string>
			<key>one</key>
			<string>%d Host</string>
			<key>other</key>
			<string>%d Hosts</string>
		</dict>
	</dict>
</dict>
</plist>
